.editorconfig
.DS_Store

/App/.lin3s_cs.yml
/App/.php_cs*
/App/.phpspec_cs*
/App/.web-server-pid
/App/composer.phar
/App/parameters.yml
/App/src/App/Infrastructure/Ui/Assets/.eslint.yml
/App/src/App/Infrastructure/Ui/Assets/.scss_lint.yml
/App/src/App/Infrastructure/Ui/Assets/node_modules
/App/src/App/Infrastructure/Ui/Assets/build
/App/src/App/Infrastructure/Ui/Http/Symfony/.htaccess
/App/src/App/Infrastructure/Ui/Http/Symfony/bundles
/App/src/App/Infrastructure/Ui/Http/Symfony/robots.txt
/App/src/App/Infrastructure/Ui/manifest.json
/App/var/bootstrap.php.cache
/App/var/cache/*
!App/var/cache/.gitkeep
/App/var/logs/*
!App/var/logs/.gitkeep
/App/var/sessions/*
!App/var/sessions/dev/.gitkeep
!App/var/sessions/prod/.gitkeep
/App/vendor
/Docker/volumes/*
/CompositeUi/node_modules/*
/CompositeUi/build/*

.env
.git
.gitignore
Makefile
Readme.md
.idea

/CompositeUi/node_modules
/CompositeUi/build
.php_cs
.php_cs.cache
